@charset "utf-8";


/* fonts */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/RobotoSlab-400.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/RobotoSlab-400.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/RobotoSlab-500.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/RobotoSlab-500.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Pretendard-400.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/Pretendard-400.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Pretendard-500.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/Pretendard-500.woff') format('woff'); /* Modern Browsers */
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Pretendard-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/Pretendard-700.woff') format('woff'); /* Modern Browsers */
}


/* reset */
* { margin: 0; padding: 0 }
html { font-family: 'Pretendard', serif; line-height: 1.5; color: #303030; }
a { text-decoration: inherit; color: inherit; }
button { border: none; background: none; line-height: inherit; font-family: inherit; font-size: inherit; color: inherit; cursor: pointer; }
ul, ol { list-style: none; }
img { vertical-align: top; }


/* icons */
.icon { display: inline-block; background-position: center; background-repeat: no-repeat; background-size: 100%; }
.icon-html { width: 30px; height: 30px; background-image: url('../images/icon-html.png'); }
.icon-css { width: 30px; height: 30px; background-image: url('../images/icon-css.png'); }
.icon-js { width: 30px; height: 30px; background-image: url('../images/icon-js.png'); }
.icon-react { width: 30px; height: 30px; background-image: url('../images/icon-react.png'); }
.icon-phone { width: 20px; height: 20px; background-image: url('../images/icon-phone.png'); }
.icon-email { width: 20px; height: 20px; background-image: url('../images/icon-email.png'); }
.icon-github { width: 20px; height: 20px; background-image: url('../images/icon-github.png'); }


/* navigation */
nav { z-index: 1000; position: fixed; top: 50vh; right: 0; transform: translateY(-50%); text-align: right; font-family: 'Roboto Slab', 'Pretendard', serif; transition: color 0.2s; }
nav ul.menu-list { font-size: 14px; }
nav ul.menu-list li { margin: 10px 0; opacity: 0.5; transition: opacity 0.2s; }
nav ul.menu-list li.is-active { opacity: 1; }
nav ul.menu-list li .btn { display: inline-block; vertical-align: top; font-size: 0; min-width: 40px; padding: 0 10px 0 0; white-space: nowrap; text-align: center; }
nav ul.menu-list li .first { display: inline-block; vertical-align: top; font-size: 16px; }
nav ul.menu-list li .others { display: inline-block; vertical-align: top; width: 0; font-size: 16px; overflow: hidden; }
nav ul.menu-list li .btn:hover .others { width: auto; padding: 0 10px 0 0; transition: 0.2s, color 0s; }

nav.is-light { color: #fff; }


/* main */
main {}


/* section intro */
section.intro { height: 92vh; font-family: 'Roboto Slab', 'Pretendard', serif; transition: opacity 0.6s; }
section.intro > .inner { position: fixed; top: 0; left: 0; width: 100%; height: 92vh; }
section.intro .text-box { position: absolute; top: 50%; left: 0; width: 100%; padding-bottom: 30px; text-align: center; }
section.intro .text-box [class^="text"] { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; box-sizing: border-box; transform: translateY(-50%); line-height: 1.2; font-size: 64px; }
section.intro .text-box .text-01 { opacity: 1; }
section.intro .progress-box { position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; }
section.intro .progress-box .progress { height: 100%; width: 0; background: #93adb8; }
section.intro .btn-box { position: absolute; bottom: 14px; left: 0; width: 100%; text-align: center; }
section.intro .btn-box .btn { display: none; padding: 0 10px; color: #7a95a9; }
section.intro .btn-box .btn:hover { opacity: 0.75; }
section.intro .btn-box .btn.is-active { display: inline-block; }

/* section intro - animate */
section.intro.is-animate .text-box {}
section.intro.is-animate .text-box [class^="text"] { padding: 0 80px; animation: flowPlay 2.5s linear forwards; }
section.intro.is-animate .text-box .text-01 {}
section.intro.is-animate .text-box .text-02 { animation-delay: 2.5s; }
section.intro.is-animate .text-box .text-03 { animation-delay: 5s; }
section.intro.is-animate .text-box .text-04 { animation-delay: 7.5s; }
section.intro.is-animate .text-box .text-05 { animation-delay: 10s; }
section.intro.is-animate .progress-box {}
section.intro.is-animate .progress-box .progress { animation: progress 12.5s linear forwards; }

/* section intro - finish */
section.intro.is-finish .text-box { transform: translateY(-50%); font-weight: 400; }
section.intro.is-finish .text-box [class^="text"] { position: relative; line-height: 1.4; font-size: 36px; transform: none; animation: flowStop 0.4s ease forwards; }
section.intro.is-finish .text-box .text-01 { opacity: 0; }
section.intro.is-finish .text-box .text-02 { opacity: 0; margin: 20px 0 0 0; }
section.intro.is-finish .text-box .text-03 { opacity: 0; }
section.intro.is-finish .text-box .text-04 { opacity: 0; margin: 20px 0 0 0; }
section.intro.is-finish .text-box .text-05 { opacity: 0; }
section.intro.is-finish .progress-box {}
section.intro.is-finish .progress-box .progress { width: 100%; animation: none; }

/* section intro - fadeout */
section.intro.is-fadeout { opacity: 0; }

/* section intro - keyframes */
@keyframes flowPlay {
	20% { opacity: 1; z-index: 10; }
	80% { opacity: 1; }
	100% { opacity: 0; z-index: 0; }
}
@keyframes flowStop {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes progress {
	0% { width: 0; }
	100% { width: 100%; }
}


/* section about */
section.about { z-index: 10; position: relative; padding: 0 0 80px 0; background: #fff; }
section.about .bg-box { background: rgba(231, 226, 222, 1); _background: rgba(0, 0, 0, 0.08);  }
section.about .bg-box > .inner { position: relative; max-width: 1200px; margin: 0 auto; padding: 80px 40px 260px; }
section.about h2.title { text-align: center; font-size: 28px; font-weight: 500; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.about .desc { text-align: center; margin: 40px 0 0 0; }
section.about .desc dl { margin: 12px 0 0 0; }
section.about .desc dl dt { font-size: 14px; }
section.about .desc dl dd { margin: 4px 0 0 0; }
section.about .panel-box { max-width: 1200px; margin: -200px auto 0; padding: 0 40px; }
section.about .panel { padding: 60px 20px 70px; box-sizing: border-box; background: #fff; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); font-size: 0; }
section.about ul.skill-list { display: inline-block; vertical-align: top; width: 50%; }
section.about ul.skill-list > li { position: relative; display: inline-block; vertical-align: top; width: 50%; font-size: 1rem; text-align: center; }
section.about ul.skill-list > li dl {}
section.about ul.skill-list > li dl dt { font-size: 18px; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.about ul.skill-list > li dl dd { margin: 30px 0 0 0; }
section.about ul.skill-list > li dl dd .icon {}
section.about ul.skill-list > li dl dd p { margin: 30px 0 0 0; padding: 0 20px; }


/* section works */
section.works { z-index: 10; position: relative; _margin: 80px 0 0 0; background: #fff; }
section.works .head-box { z-index: 100; position: absolute; top: 0; left: 0; width: 100%; padding: 50px 0 20px; box-sizing: border-box; background: #fff; }
section.works .head-box:after { content: ''; position: absolute; top: 100%; left: 0; right: 0; height: 20px; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); }
section.works .main-box { z-index: 50; position: relative; height: 4600px; padding: 240px 0 0; }
section.works h2.title { text-align: center; font-size: 28px; font-weight: 500; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.works ul.category-list { position: relative; margin: 30px 0 0 0; text-align: center; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.works ul.category-list > li { position: relative; display: inline-block; vertical-align: top; margin: 0 16px; }
section.works ul.category-list > li:before { content: ''; position: absolute; top: 30px; left: 0; width: 0; height: 1px; background: #303030; transition: 0.2s; }
section.works ul.category-list > li:first-child:before { left: auto; right: 0; }
section.works ul.category-list > li > .btn { opacity: 0.5; }
section.works ul.category-list > li > .btn:hover { opacity: 0.75; }
section.works ul.category-list > li.is-active > .btn { opacity: 1; }
section.works ul.category-list > li.is-active:before { width: 100%; }
section.works ul.page-list { margin: 10px 0 0 0; font-family: 'Roboto Slab', 'Pretendard', serif; } 
section.works ul.page-list > li { display: inline-block; margin: 0 4px; }
section.works ul.page-list > li .btn { opacity: 0.5; padding: 0 4px; }
section.works ul.page-list > li .btn:hover { opacity: 0.75; }
section.works ul.page-list > li.is-active .btn { opacity: 1; }
section.works ul.work-list { position: relative; max-width: 1200px; margin: 0 auto; padding: 0 0 200px; }
section.works ul.work-list > li { opacity: 0; padding: 0 40px; box-sizing: border-box; transition: opacity 0.3s; }
section.works ul.work-list > li.is-active { z-index: 10; opacity: 1; transition-delay: 0.2s; }

section.works .work {}
section.works .work:after { content: ''; display: block; clear: both; }
section.works .work .info { float: right; width: 50%; padding: 0 0 0 80px; box-sizing: border-box;  }
section.works .work .info h3.title { margin: 0 0 0 0; font-size: 30px; font-weight: 500; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.works .work .info .details { margin: 24px 0; font-size: 14px; }
section.works .work .info .details dl { display: table; margin: 10px 0; width: 100%; }
section.works .work .info .details dl dt { display: table-cell; vertical-align: top; padding: 0 10px 0 0; color: #808080; white-space: nowrap; }
section.works .work .info .details dl dd { display: table-cell; vertical-align: top; width: 100%; }
section.works .work .info .details dl dd a { color: #5b758f; }
section.works .work .info .details dl dd a:hover { text-decoration: underline; text-underline-position: under; }
section.works .work .info p { font-size: 14px; word-break: keep-all; }
section.works .work .info p + p { margin-top: 20px; }
section.works .work .visual { float: left; width: 50%; }
section.works .work .visual .screen { position: relative; background: #f7f7f7; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); }
section.works .work .visual .screen:before { content: ''; display: block; padding-top: 56.25%; }
section.works .work .visual .screen .img { position: absolute; top: 0; left: 0; width: 100%; }
section.works .work .visual .screen .img img { width: 100%; }
section.works .work .visual ul.img-list { display: flex; justify-content: space-between; margin: 30px -10px 0; }
section.works .work .visual ul.img-list > li { flex: 1; padding: 0 10px; }
section.works .work .visual ul.img-list > li .btn { display: block; width: 100%; }
section.works .work .visual ul.img-list > li .btn:hover { transform: scale(1.05); }
section.works .work .visual ul.img-list > li .img { position: relative; display: block; width: 100%; background: #f7f7f7; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); }
section.works .work .visual ul.img-list > li .img img { position: absolute; top: 0; left: 0; width: 100%; }
section.works .work .visual ul.img-list > li .img:before { content: ''; display: block; padding-top: 56.25%; }

/* section works - fixed */
section.works.is-fixed {}
section.works.is-fixed .head-box { position: fixed; top: 0; left: 0; width: 100%; max-width: none; }
section.works.is-fixed .main-box {}
section.works.is-fixed ul.work-list { position: fixed; top: 240px; left: 0; right: 0; width: 100%; }
section.works.is-fixed ul.work-list > li { position: absolute; top: 0; left: 0; width: 100%; }

/* section works - finish */
section.works.is-finish {}
section.works.is-finish .head-box { position: absolute; top: 4000px; left: 0; width: 100%; max-width: none; }
section.works.is-finish .main-box {}
section.works.is-finish ul.work-list { position: absolute; top: 4240px; left: 0; right: 0; width: 100%; }
section.works.is-finish ul.work-list > li { position: absolute; top: 0; left: 0; width: 100%; }


/* section contact */
section.contact { z-index: 10; position: relative; color: #f0f0f0; background: rgba(31, 47, 59, 1); background: #1f2e3b; }
section.contact > .inner { position: relative; max-width: 1200px; margin: 0 auto; padding: 80px 40px 200px; }
section.contact h2.title { text-align: center; font-size: 28px; font-weight: 500; font-family: 'Roboto Slab', 'Pretendard', serif; }
section.contact .contacts { margin: 80px 0 0 0; text-align: center; }
section.contact .contacts dl { margin-top: 20px; }
section.contact .contacts dl dt { font-weight: 500; }
section.contact .contacts dl dt .icon { vertical-align: top; margin: 10px -4px 10px 0; }
section.contact .contacts dl dd { margin: 8px 0 0 0; }
section.contact .contacts dl dd a { text-underline-position: under; }
section.contact .contacts dl dd a:hover { text-decoration: underline; }
section.contact p.bye { margin: 80px 0 0 0; text-align: center; font-family: 'Roboto Slab', 'Pretendard', serif; font-weight: 500; }





@media screen and (max-width: 1024px) { /* tablet horizontal */


	/* navigation */
	nav ul.menu-list li .btn { min-width: 30px; padding-right: 0; }


	/* section intro */
	section.intro .text-box [class^="text"] { font-size: 48px; }

	/* section intro - finish */
	section.intro.is-finish .text-box [class^="text"] { font-size: 32px; }


	/* section about */
	section.about ul.skill-list { width: 100%; }
	section.about ul.skill-list + ul.skill-list { margin-top: 40px; }


	/* section works */
	section.works .head-box { padding-top: 20px; }
	section.works .main-box { height: auto; padding-top: 170px; }
	section.works ul.category-list { margin-top: 20px; }
	section.works ul.work-list { padding-bottom: 160px; padding-left: 20px; padding-right: 20px; box-sizing: border-box; }
	section.works ul.work-list > li { opacity: 1; padding-left: 0; padding-right: 0; transition: none; }
	section.works ul.work-list > li + li { margin-top: 60px; }
	section.works .work { text-align: center; }
	section.works .work .info { float: none; width: auto; padding: 0; }
	section.works .work .info .details dl { display: block; margin-top: 16px; margin-bottom: 16px; padding: 0; }
	section.works .work .info .details dl dt { display: block; font-size: 14px; }
	section.works .work .info .details dl dd { display: block; }
	section.works .work .info p { padding: 0 20px; }
	section.works .work .visual { float: none; width: auto; max-width: 600px; margin: 50px auto 0; }

	/* section works - fixed */
	section.works.is-fixed .head-box { position: fixed; top: 0; left: 0; width: 100%; max-width: none; }
	section.works.is-fixed .main-box { height: auto; }
	section.works.is-fixed ul.work-list { position: relative; top: auto; }
	section.works.is-fixed ul.work-list > li { position: relative; top: 0; left: 0; width: 100%; }

	/* section works - finish */
	section.works.is-finish .head-box { position: absolute; top: 0; left: 0; width: 100%; max-width: none; }
	section.works.is-finish .main-box { height: auto; }
	section.works.is-finish ul.work-list { position: relative; top: auto; }
	section.works.is-finish ul.work-list > li { position: relative; top: 0; left: 0; width: 100%; }


}


@media screen and (max-width: 768px) { /* tablet vertical */


	/* reset */
	html { font-size: 14px; }


	/* navigation */
	nav ul.menu-list li .first { font-size: 14px; }
	nav ul.menu-list li .others { font-size: 14px; }
	nav ul.menu-list li .btn:hover .others { display: none; }


	/* section intro */
	section.intro { height: 82vh; }
	section.intro > .inner { height: 82vh; }
	section.intro .text-box [class^="text"] { font-size: 42px; }
	section.intro .progress-box { height: 2px; }

	/* section intro - animate */
	section.intro.is-animate .text-box [class^="text"] { padding: 0 40px; }
	
	/* section intro - finish */
	section.intro.is-finish .text-box [class^="text"] { font-size: 28px; }


	/* section about */
	section.about { padding-bottom: 100px; }
	section.about .bg-box > .inner { padding-top: 70px; padding-bottom: 250px; }
	section.about h2.title { font-size: 24px; }
	section.about .desc { margin-top: 30px; }
	section.about ul.skill-list > li { width: 100%; }
	section.about ul.skill-list > li + li { margin-top: 40px; }
	section.about ul.skill-list > li dl dd { margin-top: 20px; }
	section.about ul.skill-list > li dl dd p { margin-top: 20px; }


	/* section works */
	section.works {}
	section.works h2.title { font-size: 24px; }
	section.works .work .info h3.title { font-size: 22px; }


	/* section contact */
	section.contact > .inner { padding-top: 70px; padding-bottom: 140px; }
	section.contact h2.title { font-size: 24px; }
	section.contact .contacts { margin-top: 60px; }
	section.contact p.bye { margin-top: 60px; }

}


@media screen and (max-width: 480px) { /* mobile */


	/* section intro */
	section.intro .text-box [class^="text"] { font-size: 28px; }

	/* section intro - animate */
	section.intro.is-animate .text-box [class^="text"] { padding: 0 40px; }

	/* section intro - finish */
	section.intro.is-finish .text-box [class^="text"] { padding: 0 20px; font-size: 20px; letter-spacing: -0.4px; }


	/* section about */
	section.about .bg-box > .inner { padding-left: 25px; padding-right: 25px; }
	section.about .panel-box { padding-left: 25px; padding-right: 25px; }


	/* section works */
	section.works .work .info p { padding: 0 10px; }


}